div {
  background-color: burlywood;
  width: 500px;
  height: 350px;
  padding: 10px;
}

div p {
  background-color: whitesmoke;
  padding: 10px;
}

p#Test {
  width: 30%;
  height: 30%;
  overflow: scroll hidden;
  border-style: dotted;
  border-image: url(https://www.tomswallpapers.com/pic/201701/1080x1920/tomswallpapers.com-89387.jpg) 11 11 round;
  border-width: 5px;
}

h2 {
  border-left-style: solid;
  border-color: yellow;
  border-width: 5px;
}
