header{
    box-sizing: border-box;
}

#Login{
    text-align: center;
}

article{
    text-align: center;
}

footer{
    Text-align: center;
}

.form{
    text-align: center;
}

#video{
    margin-left: 50rem;
}

body{
    background-image: url(cloud.jpg);
    background-repeat: no-repeat;
}

