.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}


.NavBar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height:8vh;
  background: rgb(73,79,82);
  color: white;
  text-decoration: none;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
}

li{
  text-decoration: none;
}

.project-links{
  
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}