*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: cadetblue;
}
.title{
    font-size: 50px;
}

p{
    font-size: 40px;
}

.game{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#button1{
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%);
}

