*{
    margin: 0;
    padding: 0;
    box box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Staatliches', cursive;
}
    

.hoofd{
    background-image: url(https://images7.alphacoders.com/893/893256.jpg);
    background-size: cover;
    display: grid;
    
}

.navigatie{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 1fr;
    grid-area: 
    "";
    background-color: rgba(0, 0, 0,.3);
    height: 50px;
}

.navigatie-lijst{

}

.logo{
    display: flex;
    font-size: 30px;
    margin-left: 20px;
    text-decoration: none;
  
}

.logo a{
    text-decoration: none;
    color: white;
    align-self: center;
}


.haha{
    display: flex;
    justify-content: space-between;
  
    
}

.nav1 a {
    text-decoration: none;
    color:white
}

.lijst:hover{
    font-size: 20px;
}

.main{
    object-fit: cover;
    height: 100vh;
    color: white;

}

.activiteiten{
    background-color: black;
    height: 100vh;
}

.leden{
    background: blue;
    height: 100vh;
}

.contact{
    background: grey;
    height: 100vh;
}


    



