*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Staatliches', cursive;
}
.hoofd{
    background-image: url(https://images7.alphacoders.com/893/893256.jpg);
    background-size: cover;
    display: grid;
}
.logo a{
    text-decoration: none;
    color: white;
    align-self: center;
}
.navigatie{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: rgba(0, 0, 0,.3);
    height: 50px;
    position: relative;
}
.navigatie a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.navigatie p{
    margin-top: 11px;
    margin-left: 100px;
}
.navigatie p a:hover{
    top: 65%;
    height: 2px !important;
    width: 40%;
    left: 30%;
    transition: 0.4s ease-out all .1s;
    text-decoration: underline ease-in .1s;
    color: mediumaquamarine;
}
.logo{
    display: flex;
    font-size: 30px;
    margin-left: 20px;
    text-decoration: none;
}
.main{
    height: 100vh;
    color: white;
    text-align: left;
    width: 600px;
    padding-left: 150px;
    padding-top: 50vh;
    font-size: 25px;
}
.activiteiten{
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 1fr 1fr;
}
.l-side{
    background-color:white;
    grid-column: 1/2;
    grid-row: 1/3;
}
.activiteiten span{
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;  
}
.activiteiten i{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.opleiding{
    background-color: grey;
    grid-column: 2/3;
    grid-row: 1/2;
    
}
.training{
    background-color: lightgray;
    grid-column: 3/4;
    grid-row: 1/2;
   
}
.ontspanning{
    background-color:black;
    grid-column: 2/3;
    grid-row: 2/3;
}
.verder{
    background-color: lightslategray;
    grid-column: 3/4;
    grid-row: 2/3;
}

.l-text{
    display: flex;
    width: 75%;
    margin-left: 40px;
    margin-top: 150px;
}

#leden{
    background: linear-gradient(rgb(255, 255, 255), rgb(179, 208, 219));
    height: 100vh;
}

.card{
    display:inline-block;
    margin:auto;
    padding: 10px;
}

.contact{
    background: linear-gradient(rgb(179, 208, 219), rgb(153, 255, 204));
    height: 100vh;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  input[type=submit] {
    background-color: #7fa39d;
    /* color: white; */
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    top: 30px;
  }
  
 
.container {
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 25px;
  }




