body{
    font-family: 'Deco';
}

@font-face {
    font-family: "Deco";
    src: url("Market_Deco.ttf") format("opentype");
}

header{
    background-color: black;
    display: flex;
    padding: 1rem;

}

.Titel{
    color: blue;
    border: 2px;
    background:rgba(0, 128, 0, 0.1); /* achtegrondkleur me opacity */
}


header p{
    font-size: 30px;
    color: white;
}
nav{
    background-color: cornsilk;
    padding: 1rem;
}

nav ul{
    list-style-type: none;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 20rem;
    margin-right: 20rem;
}

p {
    column-count: 2
;
}

section{
    padding-left: 2rem;
    padding-right: 30rem;
    display: flex;
}

footer{
    display: flex;
    padding: 1rem;
}

aside {
    float: right;
    background: red;
    align-items: right;
    margin-right: 0;
}