body{
    margin: 0;
    padding: 0;
}

#head{
    height: 250px;
}

#back{
    height: 250px;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

#logo{
    position: relative;
    margin-top: 40px;
    height: 130px;
    margin-left: 38%;
} 

.nav{
    background-color: black;
    color: white;
    margin-top: 0;
    padding: 0;
}

li{
    list-style: none;
    justify-content: center;
    display: flex;
}

#aside1{
    background-color: darkkhaki;
    float: left;
    box-sizing: border-box;
    height: 400px;
    margin-right: 2rem;
}

#aside2{
    background-color: darkkhaki;
    float: right;
    box-sizing: border-box;
    height: 400px;
    margin-left: 2rem;
}

#article{
    background-color: lightblue;
    box-sizing: border-box;
    width: 750px;
}